@using GCDS.NetTemplate.Components
@using GCDS.NetTemplate.Templates
@using GCDS.NetTemplate.Core

@{
    InternalApp? template = ViewData.GetTemplate<InternalApp>();
    ArgumentNullException.ThrowIfNull(template, CommonConstants.ERRMSG_LOAD_TEMPLATE);
    Layout = "_Layout.Base.cshtml"; // Use the base layout for this template
    ViewBag.SideNavWidth ??= "320px"; // Default width for the side nav
}

@section LayoutBody {
    @{
        ArgumentNullException.ThrowIfNull(template.Header,
            "Header must be set when using this template.");
    }
    @await Html.PartialAsync("ExtAppHeader.cshtml", template.Header)

    <gcds-container size="xl" centered main-container>
        @if (IsSectionDefined("PreContent"))
        {
            <main id="@CommonConstants.SKIP_TO_CONTENT_ID" role="main">
                @await RenderSectionAsync("PreContent", required: false)
                <gcds-grid columns="minmax(0, 1fr)" columns-desktop="@ViewBag.SideNavWidth minmax(0, 1fr)">
                    @await Html.PartialAsync("SlotSideNav.cshtml", template.SideNav)
                    <div id="main-body">
                        @RenderBody()
                    </div>
                </gcds-grid>
                @await RenderSectionAsync("PostContent", required: false)
            </main>
        }
        else
        {
            <gcds-grid columns="minmax(0, 1fr)" columns-desktop="@ViewBag.SideNavWidth minmax(0, 1fr)">
                @await Html.PartialAsync("SlotSideNav.cshtml", template.SideNav)

                <main id="@CommonConstants.SKIP_TO_CONTENT_ID" role="main">
                    @RenderBody()
                </main>
            </gcds-grid>
            @await RenderSectionAsync("PostContent", required: false)
        }

        <aside>
            @await Html.PartialAsync("GcdsDateModified.cshtml", template.DateModified)
            @await Html.PartialAsync("PageIdentifier.cshtml", new CommonProps { Lang = template.Lang })
        </aside>
    </gcds-container>

    @await Html.PartialAsync("GcdsFooter.cshtml", template.Footer)
}
