@using GCDS.NetTemplate.Components

@model ExtSiteTitle

@if (Model.Href == null || Model.Href == "")
{
	<span id="site-title"
		  style="@Model.StyleOverride">
		@Model.Text
	</span>
}
else
{
	<a id="site-title"
	   href="@Model.Href"
	   style="@Model.StyleOverride"
	   tabindex="0">
		@Model.Text
	</a>
}
