<p>Other Pages</p>
<ul>
    <li><a href="@Url.Action("Home", "Home")">Basic</a></li>
    <li><a href="@Url.Action("SideNav", "Home")">Basic with SideNav</a></li>
    <li><a href="@Url.Action("Internal", "Home")">Internal Example (custom page)</a></li>
    <li><a href="@Url.Action("AltInternal", "Home")">Alt Internal Example (custom page)</a></li>
    <li><a href="@Url.Action("InternalSideNav", "Home")">Side Nav Internal Example (custom page)</a></li>
    <li><a href="@Url.Action("AltInternalSideNav", "Home")">Alt Side Nav Internal Example (custom page)</a></li>
</ul>
