@using GCDS.NetTemplate.Models
@using GCDS.NetTemplate.Utils
@using GCDS.NetTemplate.Components.Gcds
@{
	ITemplateModel webTemplateModel = (ITemplateModel)ViewData[Constants.TEMPLATE_MODEL];
	if (webTemplateModel?.InternalAppHeader == null)
		throw new ArgumentNullException("Must set InternalAppHeader in WebTemplateModel to use this layout.");
}

<!DOCTYPE html>
<html lang="@webTemplateModel.Lang">
<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0" />

	<title>@webTemplateModel.PageTitle</title>

	@await Html.PartialAsync("Head", webTemplateModel.TemplateSettings)

	<style>
		.hidden-link {
			position: absolute;
			top: var(--gcds-header-skiptonav-top);
			width: 100%;
			text-align: center;
		}

			.hidden-link gcds-link {
				left: 0;
				position: absolute;
				top: 0;
				width: inherit;
				z-index: 3;
			}

				.hidden-link gcds-link:not(:focus) {
					height: 0;
					width: 0;
					overflow: hidden;
					clip: rect(0,0,0,0);
				}
	</style>
</head>
<body>
	<header style="margin: var(--gcds-header-margin) !important">
		<nav airia-label="@webTemplateModel.InternalAppHeader.SkipTo.AiriaLabel"
			 class="hidden-link">
			@{
				var link = new Link
				{
					Href = "#" + Constants.SKIP_TO_CONTENT_ID,
					Text = @webTemplateModel.InternalAppHeader.SkipTo.Text
				};
			}
			@await Html.PartialAsync("Gcds/Link", link)
		</nav>

		<gcds-container size="xl"
						centered
						main-container
						style="@webTemplateModel.InternalAppHeader.StyleOverride">
			<gcds-grid columns="2fr 1fr"
					   align-items="center"
					   place-content="space-between">

				<gcds-nav-link href="@webTemplateModel.InternalAppHeader.SiteTitle.Href">
					@webTemplateModel.InternalAppHeader.SiteTitle.Text
				</gcds-nav-link>

				<gcds-lang-toggle href="@webTemplateModel.LanguageToggleHref"
								  style="text-align:end">
				</gcds-lang-toggle>

			</gcds-grid>
		</gcds-container>

		@if (webTemplateModel.Header?.Menu != null)
		{
			@await Html.PartialAsync("Gcds/TopNav", webTemplateModel.Header.Menu)
		}
	</header>

	<gcds-container size="xl"
					centered
					main-container>
		<main id="@Constants.SKIP_TO_CONTENT_ID"
			  role="main">
			@RenderBody()
		</main>
	</gcds-container>

	@await Html.PartialAsync("Gcds/Footer", webTemplateModel.Footer)

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
